Repository peario/space, changes with the labels that .github/labeler.yml gives for each.
All labels: Modules, Library, Overlays, Packages, Secrets, Systems, Repository, GitHub-Action

.github/labeler.yml:

Modules:
  - changed-files:
      - any-glob-to-any-file: modules/**/*
Library:
  - changed-files:
      - any-glob-to-any-file: lib/**/*
Overlays:
  - changed-files:
      - any-glob-to-any-file: overlays/**/*
Packages:
  - changed-files:
      - any-glob-to-any-file: packages/**/*
Secrets:
  - changed-files:
      - any-glob-to-any-file: secrets/**/*
Systems:
  - changed-files:
      - any-glob-to-any-file: systems/**/*
Repository:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*

fix: Dependency issue
  flake.lock
  flake.nix
  modules/home/suites/common/default.nix
  modules/home/suites/development/default.nix
  modules/home/suites/music/default.nix
  modules/home/user/default.nix
  modules/shared/nix/default.nix
  overlays/svn/default.nix
Labels: Modules, Overlays, Repository

refactor(darwin): make options more uniform
  modules/darwin/archetypes/personal/default.nix
  modules/darwin/archetypes/vm/default.nix
  modules/darwin/archetypes/workstation/default.nix
  modules/darwin/home/default.nix
  modules/darwin/programs/graphical/apps/_1password/default.nix
  modules/darwin/security/gpg/default.nix
  modules/darwin/security/sops/default.nix
  modules/darwin/services/nix-daemon/default.nix
  modules/darwin/services/tailscale/default.nix
  modules/darwin/suites/art/default.nix
  modules/darwin/suites/business/default.nix
  modules/darwin/suites/desktop/default.nix
  modules/darwin/suites/development/default.nix
  modules/darwin/suites/games/default.nix
  modules/darwin/suites/music/default.nix
  modules/darwin/suites/networking/default.nix
  modules/darwin/suites/photo/default.nix
  modules/darwin/suites/social/default.nix
  modules/darwin/suites/video/default.nix
  modules/darwin/suites/vm/default.nix
  modules/darwin/system/networking/default.nix
  modules/darwin/tools/homebrew/default.nix
  modules/home/user/default.nix
Labels: Modules

feat(nix): update nix inputs
  flake.lock
  modules/shared/nix/default.nix
Labels: Modules, Repository

feat: update github workflows
  .github/workflows/check.yml
  .github/workflows/deadnix.yml
  .github/workflows/fmt.yml
  .github/workflows/lint.yml
  .github/workflows/update-flakes.yml
  modules/home/suites/development/default.nix
Labels: Modules, GitHub-Action

fix: github workflows
  .github/workflows/deadnix.yml
  .github/workflows/fmt.yml
  .github/workflows/lint.yml
  .github/workflows/update-flakes.yml
Labels: GitHub-Action

feat: update flake.lock
  flake.lock
Labels: Repository

feat: update deps and opts
  flake.lock
  modules/home/programs/development/c/default.nix
  modules/home/suites/common/default.nix
Labels: Modules, Repository

feat(wsl): add support for WSL
  .sops.yaml
  homes/x86_64-linux/peario@blitzar/default.nix
  homes/x86_64-linux/peario@blitzar/git/windows-compat-config
  secrets/magnetar/default.yaml
  systems/x86_64-linux/blitzar/default.nix
  systems/x86_64-linux/blitzar/hardware.nix
Labels: Secrets, Systems, Repository

feat: add templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: none

feat(wsl): update host name
  homes/x86_64-linux/peario@quasar/default.nix
  homes/x86_64-linux/peario@quasar/git/windows-compat-config
  systems/x86_64-linux/quasar/default.nix
  systems/x86_64-linux/quasar/hardware.nix
Labels: Systems

feat: General update
  .cbfmt.toml
  .github/workflows/deadnix.yml
  checks/pre-commit-hooks/default.nix
  flake.lock
  modules/darwin/suites/development/default.nix
  modules/darwin/tools/homebrew/default.nix
  modules/home/programs/development/c/default.nix
  modules/home/programs/development/nodejs/default.nix
  modules/home/programs/development/rust/default.nix
  modules/home/suites/development/default.nix
  modules/nixos/security/gpg/default.nix
  modules/nixos/suites/common/default.nix
  modules/shared/suites/common/default.nix
  packages/lite-server/.eslintrc
  packages/lite-server/.gitignore
  packages/lite-server/.travis.yml
  packages/lite-server/CHANGELOG.md
  packages/lite-server/ISSUE_TEMPLATE.md
  packages/lite-server/LICENSE
  packages/lite-server/README.md
  packages/lite-server/azure-pipelines.yml
  packages/lite-server/bin/lite-server
  packages/lite-server/default.nix
  packages/lite-server/index.js
  packages/lite-server/lib/config-defaults.js
  packages/lite-server/lib/lite-server.js
  packages/lite-server/node-env.nix
  packages/lite-server/node-packages.nix
  packages/lite-server/package-lock.json
  packages/lite-server/package.json
  packages/lite-server/test/config-defaults.spec.js
  packages/lite-server/test/lite-server.spec.js
  packages/lite-server/yarn.lock
  shells/default/default.nix
  statix.toml
  stylua.toml
  templates/snowfall/modules/darwin/tools/homebrew/default.nix
  treefmt.toml
Labels: Modules, Packages, Repository, GitHub-Action

fix(lite-server): update
  packages/lite-server/node-packages.nix
Labels: Packages

feat: add a SECURITY.md
  SECURITY.md
Labels: Repository

feat: update commit hooks and github workflow
  .github/workflows/update-flakes.yml
  checks/pre-commit-hooks/default.nix
  packages/git-cliff/default.nix
Labels: Packages, GitHub-Action

fix: automatic npm package install, commitizen cli, remove configs, update pre-commit hook
  .cbfmt.toml
  checks/pre-commit-hooks/default.nix
  modules/darwin/home/default.nix
  modules/home/programs/development/nodejs/default.nix
  modules/home/programs/terminal/shells/zsh/default.nix
  modules/home/programs/terminal/tools/cz-cli/default.nix
  modules/home/suites/development/default.nix
  modules/nixos/suites/common/default.nix
  statix.toml
  templates/snowfall/modules/darwin/home/default.nix
  templates/snowfall/modules/nixos/home/default.nix
  treefmt.toml
Labels: Modules, Repository

fix: automatic npm package install, commitizen cli, remove configs, update pre-commit hook
  .cbfmt.toml
  checks/pre-commit-hooks/default.nix
  modules/darwin/home/default.nix
  modules/home/programs/development/nodejs/default.nix
  modules/home/programs/terminal/shells/zsh/default.nix
  modules/home/programs/terminal/tools/cz-cli/default.nix
  modules/home/suites/development/default.nix
  modules/nixos/suites/common/default.nix
  statix.toml
  templates/snowfall/modules/darwin/home/default.nix
  templates/snowfall/modules/nixos/home/default.nix
  treefmt.toml
Labels: Modules, Repository

refactor: incorrectly named attrs list, invalid images and module import, etc
  checks/pre-commit-hooks/default.nix
  homes/x86_64-linux/peario@quasar/default.nix
  modules/home/programs/terminal/tools/yazi/configs/plugins/glow.nix
  modules/home/programs/terminal/tools/yazi/default.nix
  modules/nixos/archetypes/vm/default.nix
  modules/nixos/archetypes/workstation/default.nix
  modules/nixos/hardware/audio/default.nix
  modules/nixos/programs/graphical/desktop-environment/gnome/default.nix
  modules/nixos/programs/graphical/wms/hyprland/hypr/assets/diamond.png
  modules/nixos/programs/graphical/wms/hyprland/hypr/assets/square.png
  modules/nixos/security/gpg/default.nix
  modules/nixos/suites/desktop/default.nix
  modules/nixos/suites/games/default.nix
  modules/nixos/system/networking/default.nix
  modules/nixos/system/xkb/default.nix
  modules/nixos/virtualisation/kvm/default.nix
  modules/nixos/virtualisation/podman/default.nix
  systems/x86_64-linux/quasar/default.nix
Labels: Modules, Systems

feat(dev): add font, fix dev environment and update direnv
  .envrc
  .gitignore
  modules/darwin/suites/development/default.nix
  modules/home/programs/development/c/default.nix
  modules/home/programs/development/go/default.nix
  modules/home/programs/development/nodejs/default.nix
  modules/home/programs/development/python/default.nix
  modules/home/programs/development/rust/default.nix
  modules/home/suites/development/default.nix
  modules/shared/system/fonts/default.nix
  templates/snowfall/modules/nixos/system/fonts/default.nix
Labels: Modules, Repository

fix(git): remove part of template
  CHANGELOG.md
  packages/git-cliff/default.nix
Labels: Packages, Repository

feat(git): create template and update tooling
  .gitconfig
  .gitmessage
  CHANGELOG.md
  checks/pre-commit-hooks/default.nix
  packages/git-cliff/default.nix
Labels: Packages, Repository

feat(neovim): pin neovim to v0.10.1 with treesitter and python
  .vscode/settings.json
  CHANGELOG.md
  flake.lock
  flake.nix
  modules/home/programs/terminal/editors/neovim/default.nix
  modules/home/suites/development/default.nix
  overlays/neovim/default.nix
  shells/default/default.nix
Labels: Modules, Overlays, Repository

feat(checks): remove git-cliff for changelog
  CHANGELOG.md
  checks/pre-commit-hooks/default.nix
  packages/git-cliff/default.nix
Labels: Packages, Repository

chore(deps): update flake.lock
  flake.lock
Labels: Repository

feat(system): add NixOS system named comet
  homes/x86_64-linux/peario@comet/default.nix
  systems/x86_64-install-iso/graphical/default.nix
  systems/x86_64-install-iso/minimal/default.nix
  systems/x86_64-iso/isolated/default.nix
  systems/x86_64-iso/rescue/default.nix
  systems/x86_64-linux/comet/default.nix
  systems/x86_64-linux/comet/disks.nix
  systems/x86_64-linux/comet/hardware.nix
  systems/x86_64-linux/comet/hyprlandOutput
  systems/x86_64-linux/comet/monitors.xml
  systems/x86_64-linux/comet/network.nix
  systems/x86_64-linux/comet/specializations.nix
  systems/x86_64-linux/comet/swayOutput
Labels: Systems

feat(bootstrap): create a bootstrapper with testing via docker
  containers/Dockerfile.alpine
  containers/Dockerfile.arch
  containers/Dockerfile.debian
  containers/Dockerfile.fedora
  containers/Dockerfile.ubuntu
  containers/README.md
  flake.lock
  install.sh
  modules/darwin/archetypes/workstation/default.nix
  modules/darwin/suites/development/default.nix
Labels: Modules, Repository

fix(bootstrap): remove mini-checklist
  install.sh
Labels: Repository

docs(bootstrap): update dockerfile instructions
  containers/README.md
Labels: none

feat(packages): remove lite-server as development/nodejs manages it
  packages/lite-server/.eslintrc
  packages/lite-server/.gitignore
  packages/lite-server/.travis.yml
  packages/lite-server/CHANGELOG.md
  packages/lite-server/ISSUE_TEMPLATE.md
  packages/lite-server/LICENSE
  packages/lite-server/README.md
  packages/lite-server/azure-pipelines.yml
  packages/lite-server/bin/lite-server
  packages/lite-server/default.nix
  packages/lite-server/index.js
  packages/lite-server/lib/config-defaults.js
  packages/lite-server/lib/lite-server.js
  packages/lite-server/node-env.nix
  packages/lite-server/node-packages.nix
  packages/lite-server/package-lock.json
  packages/lite-server/package.json
  packages/lite-server/test/config-defaults.spec.js
  packages/lite-server/test/lite-server.spec.js
  packages/lite-server/yarn.lock
Labels: Packages

feat: minor update after macOS Sequoia 15.0 upgrade
  flake.lock
  modules/home/suites/development/default.nix
  modules/nixos/hardware/rgb/openrgb/default.nix
  modules/nixos/services/spice-webdav/default.nix
  shells/default/default.nix
Labels: Modules, Repository

feat(terminal): add shell and editors
  flake.lock
  modules/home/programs/terminal/editors/emacs/default.nix
  modules/home/programs/terminal/emulators/rio/default.nix
  modules/home/programs/terminal/shells/nushell/default.nix
  modules/home/suites/common/default.nix
Labels: Modules, Repository

feat(terminal): update theme for starship and rio
  modules/home/programs/terminal/emulators/rio/default.nix
  modules/home/programs/terminal/tools/starship/default.nix
Labels: Modules
